@font-face {
    font-family: "gaby";
    src: url("fonts/Gabriela.ttf") format("truetype");
}
body{
    font-family: "gaby";
    background-color: #f8f9fa;
    font-size: 1.4rem;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
.carousel .carousel-item img{
    min-height: 200px;
}

.card {
    border: none;
}

.card-footer {
    background-color: white;
    border: none;
    min-height: 6em;
}

p {
    text-align: justify;
}

.carousel-caption{
    top:0px;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}